// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

body{
  background-color: #EEEEEE ;
  font-family: 'Fira Sans', sans-serif;
}
.culture-comb  {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.description-section {
  background-color: whitesmoke;
  text-align: center;
  font-size: x-large;
}
.card-description{
  color:#393E46;
  padding: 30px;
}

.card-description img {
  height: 100px;
  border-radius: 10px;
  box-shadow: $shadow-lg;
}

.card-description h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #41444B;
  margin-top: 8px;
}

.card-description p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 28px;
  color: #52575D;
  margin-top: 8px;
  font-weight: 500;
}


.city-section {
  padding: 30px;
  background-color: #FFD369;
}


.city-section .city-heading {
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  color:#393E46;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.city-section .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 34px;
}

.card-category{
  font-size: 40px;
}


.attractions-section {
  text-align: center;
  height: 500px;
  font-size: large;
  font-family: 'Fira Sans', sans-serif;
  padding: 20px;
  margin: 30px;
}

.attraction-cards {
  padding: 60px;
}

.attraction-cards .card {
  border-radius: 10px;
  box-shadow: $shadow-lg;
}

.attractions-section h1{
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
  color:#393E46;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.attraction-image {
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.attractions-section .card-body h4 {
  color: #393E46;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
}

.attractions-section .card-body p {
  color: #393E46;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
}



.attractions-section .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
