// Specific CSS for your home-page

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
  background-color: #EEEEEE ;
  font-family: 'Playfair Display', serif;
}
.culture-comb  {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.description-section {
  background-color: whitesmoke;
  text-align: center;
  font-size: x-large;
  // font-family: 'Playfair Display', serif;
}
.container .slogan {
  font-size: 20px;
}
.container{
  padding: 50px;
}

.city-section {
  // text-align: center;
  // height: 50;
  // font-size: large;
  background-color: #FFD369;
  text-align: center;
  color: #EEEEEE;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M14.498 16.858L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.image-city{
  border-radius: 10px;
}
.image{
  border-radius: 6px;
}
.card {
  max-width: 1100px;
  margin-left: 50px;
  margin-bottom: 0;
  height: 200px;
  border-radius: 10px;
  // overflow: hidden;
}

// .attraction-section .card-group {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 20px;
//   margin-top: 30px;
//   border-radius: 10px;
// }

.attraction-section{
  text-align: center;
  height: 300px;
  font-size: large;
  font-family: 'Playfair Display', serif;
}
// .attraction-section .card {
//   border-radius: 10px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
// }
.attraction-section .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}
.attraction-section .card-body h4 {
  color: #393E46;
}
.attraction-section .card-body p {
  color: #393E46;
}
.attraction-section .card{
  background: linear-gradient(15deg, #FFD369, #EEEEEE);
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
