<%= link_to "New Chat",
      new_chatroom_path,
      class: "btn btn-primary"
%>
<% @chatrooms.each do |chatroom|%>

  <h1><%= chatroom.name %></h1>
  <%= link_to "Display Chat",
      chatroom_path(chatroom),
      class: "btn btn-secondary"
  %>
  <%= link_to "Delete Chat",
      chatroom_path(chatroom),
      class: "btn btn-danger"
  %>
<% end %>
