<div class="container">
    <button class="show-partial-button" type="button"
          data-action="click->partials#showPartialOne">
      My Favorite Events
    </button>
    <button class="show-partial-button" type="button"
          data-action="click->events-index#showPartialTwo">
      All Events
    </button>

    <div id="partial-container" data-events-index-target="container">
      <h1>All Events</h1>
      <%= render partial: 'city_events' %>
    </div>

</div>
