.cc-banner {
  background-size: 100%;
  color: #e9ba48;
  padding: 150px 0;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}

#cc-container {
  padding: 0px;
}
.cc-name{
  font-family: 'Fira Sans', sans-serif;
  font-size: 80px;
  text-align: center;
  text-shadow: 1px 1px 2px #f9da01fc;
}

.cc-slogan{
  font-family: 'Fira Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #f9da01fc;
}

