.banner {
  background-size: 100%;
  // background-image: url("culture.jpeg");
  color: #FFD369;
  padding: 150px 0;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}
.culture-comb{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
}
.slogan{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  // font-size: 80px;
  text-align: center top;
}
.container .slogan{
  font-size: 65px;
}
