.banner {
  background-size: 100%;
  // background-image: url("culture.jpeg");
  color: #FFD369;
  padding: 150px 0;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}
.culture-comb{
  font-family: 'Playfair Display', serif;
  font-size: 50pt;
  text-align: center;
}
.slogan{
  font-family: 'Playfair Display', serif;
  font-size: 15pt;
  text-align: center top;
}
// .container{
//   align-items: center;
// }
