$shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

.city-show {
  font-family: 'Fira Sans', sans-serif;
  background-color: #EEEEEE;
}

.city-banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  background-repeat: no-repeat;
  height: 400px;
}

.city-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.city-banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.city-communities h1 {
  color: #3d3f44;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  text-align: center;
  padding: 40px;
  margin: 20px;
}

.city-communities .container {
  width: 80%;
  padding: 0 0 50px 50px;
}

.community-card {
  box-shadow: $shadow-lg;
  padding: 8px 8px;
}

.community-card .card-title {
  color: #3d3f44;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 34px;
}

.community-card .card-text {
  color: #393E46;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}

.community-card i {
  color: rgb(6, 128, 128);
  font-weight: bold;
}

.community-card .card-more-details {
  color: rgb(6, 128, 128);
  font-weight: bold;
  text-decoration: none;
}

.city-attractions {
  padding: 30px;
  background-color: #FFD369;
}

.city-attractions h1 {
  color: #3d3f44;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  text-align: center;
  padding: 20px;
}


.city-attractions .container {
  width: 80%;
  padding: 0 0 0 50px;
}

.city-attractions .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.city-attractions .card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  box-shadow: $shadow-lg;
}

.attraction-card img {
  width: 100vh;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.attraction-card .card-title a {
  color: rgb(6, 128, 128);
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  text-decoration: none;
}

.attraction-card .card-title i{
  color: rgb(6, 128, 128);
  font-size: 24px;
}

.attraction-card .card-text {
  color: #393E46;
  font-family: 'Fira Sans', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}

.card-all-attractions a {
  color: rgb(6, 128, 128);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.card-all-attractions i {
  color: rgb(6, 128, 128);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.city-events {
  padding: 30px;
}

.city-events h1{
  color: #3d3f44;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.city-events .container {
  width:90%;
  padding: 0 0 50px 50px;
}

.card-product {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 240px;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  margin: 0;
  text-align: left;
  color: #3d3f44;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Fira Sans', sans-serif;
}

.card-product p {
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
  color: #3d3f44;
  font-size: 22px;
  font-family: 'Fira Sans', sans-serif;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-all-events a {
  color: rgb(6, 128, 128);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.card-all-events i {
  color: rgb(6, 128, 128);
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
