.city-show {
  font-family: 'Nunito';
  background-color: #EEEEEE;
}

.city-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  height: 500px;
}

.city-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nunito';
}

.city-banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nunito';
}

.city-attraction h1 {
  text-align: center;
  color: #213555;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Nunito';
}

.city-attraction .card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  max-width: 1100px;
  margin-left: 50px;
  margin-bottom: 0;
  height: 100%;
}

.city-attraction .card h3{
  text-align: center;
  color: #213555;
  font-weight: bold;
  font-size: 34px;
  font-family: 'Nunito';
}

.city-attraction .card p{
  text-align: center;
  color: #213555;
  font-weight: bolder;
  font-size: 22px;
  font-family: 'Nunito';
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

// .image-wrapper {
//   height: 22vw;
//   margin: 0 auto;
// }

// .image-wrapper img {
//   max-width: 100%;
//   max-width: 100%;
// }
.card-title a {
  text-decoration: none;
  color:#213555;
}
.city-event {
  background-color: #ffd36994;
}

.city-event h1 {
  text-align: center;
  color: #213555;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Nunito';
}

.city-event .card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.city-event .card {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  max-width: 1100px;
  margin-left: 50px;
  margin-bottom: 0;
  height: 100%;
}

.city-event .card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;
}

.city-event .card-body h4{
  text-align: center;
  color: #213555;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Nunito';
}

.city-event .card-body p{
  text-align: center;
  color: #213555;
  font-weight: bolder;
  font-size: 22px;
  font-family: 'Nunito';
}

.btn-all-events {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg,#353135, #827c83);
  transition: background 0.3s ease;
  border: 1px solid #eeeaee;
  font-size: 18px;
  width: 229px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-all-events:hover {
  background: linear-gradient(45deg,#807c80, #c0bdc0);
  color: white;
}

.city-posts h1 {
  color: #1d2f4c;
  font-family: 'Nunito';
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  text-align: center;
}

#post-card {
  max-width: 80%;
}

#post-image {
  height: 198px;
  border-radius: 10px;
  width: 190px;
}

.city-posts .card-body{
  padding: 5px;
  text-align: start;
  font-family: 'Nunito';
  margin: 6px;
}

.city-posts .card-title{
  color: #0E5E6F;
  font-weight: bold;
}

.city-posts .card-text{
  color: #495579;
  font-weight: bold;
  margin-bottom: 0;
}
