$shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);

.events-heading {
  border-radius: 10px;
  box-shadow: $shadow-md;
}

.events-heading h3{
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #3d3f44;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

.index .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.index .card {
  border-radius: 10px;
  box-shadow: $shadow-md;
  height: 360px;
  margin-left: 5px;
}


.index .card-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #3d3f44;
  font-weight: bold;
}

.index .card-text {
  font-size: 16px;
  color: #52575D;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}

.index .btn-primary {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bolder;
  background: linear-gradient(45deg,#3d3f44, #8e8f91);
  transition: background 0.3s ease;
  border: 1px solid #8e8f91;
}

.index .btn-primary:hover {
  background: linear-gradient(45deg,#6b6c71, #cdcfd3);
  color: white;
}

.index img {
  border-radius: 10px 10px 0 0;
}

.events-left {
  background-color: #d5d3c7d4;
  box-shadow: $shadow-md;
  padding-bottom: 15px;
}

.events-right {
  background: linear-gradient(45deg,#f7e386, #e3cf73);
  box-shadow: $shadow-md;
}

.favorite-events, .new-event {
  margin-top: 20px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(45deg,#f7e386, #efefee);
  box-shadow: $shadow-md;
  font-family: 'Fira Sans', sans-serif;
}

.event-options i{
  color: rgb(6, 128, 128);
  font-weight: bold;
}
.event-options h5 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #3d3f44;
}
.event-options a {
  text-decoration: none;
  text-align: center;
  color: rgb(6, 128, 128);
  font-weight: bold;
}

.city-info {
  padding: 0px;
  margin-top: 20px;
  background: linear-gradient(45deg,#f7e386, #efefee);
  justify-content: center;
  border-radius: 10px;
  box-shadow: $shadow-md;
  font-family: 'Fira Sans', sans-serif;
}

.city-name-description {
  padding: 15px;
}

.city-info i{
  color: rgb(6, 128, 128);
  font-weight: bold;
}

.city-info h5 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #3d3f44;
  text-align: center;
}

.city-info p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: rgb(6, 128, 128);
  text-align: center;
}

.city-info a {
  text-decoration: none;
  text-align: center;
  color: rgb(6, 128, 128);
  font-weight: bold;
}

.icon-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  margin: 0px;
}

.icon-actions i {
  color: rgb(6, 128, 128);
  font-weight: bold;

}

// Smallest device
@media(max-width: 992px) {
  .index .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .index .cards {
    grid-template-columns: 1fr;
  }
}
