.mapboxgl-popup {
  max-width: 100px;
  background-color: rgb(255, 204, 0);
  border-radius: 5px;
  
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid grey;
  padding: 10px 10px;
}
