.navbar {
  position: sticky;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: large;
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #222831;
}
// #393E46;
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-top: 8px;
  border-radius: 5px;
}
.nav-item{
  color: #FFD369 !important;
  font-weight: 600;
  font-size: large;
}
.nav-link{
  color: #FFD369 ;
  font-size: large;
}
.navbar-toggler-icon{
  color: #FFD369;
}
.nav-item:hover{
  color: white ;
}
