.add-event {
  background-color: #D9D7CD;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
// .h1 {
//   margin: 10;
//   padding: 20;
// }


.new-form label {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: larger;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;
  color: #3d3f44;
}

.new-form legend {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;
}

.new-form input {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.new-form textarea {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.new-form select {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.new-form .new-form-submit {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg,#3d3f44, #8e8f91);
  transition: background 0.3s ease;
  border: 1px solid #8e8f91;
}

.new-form .new-form-submit:hover {
  background: linear-gradient(45deg,#6b6c71, #cdcfd3);
  color: white;
}
