.new-form {
  background-color: rgb(241, 237, 232);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.new-form label {
  color: #3d3f44;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;

}

.new-form input {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.new-form select {
  background-color: #E6E6E6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.new-form .new-form-submit {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg,#3d3f44, #8e8f91);
  transition: background 0.3s ease;
  border: 1px solid #8db4f2;
}

.new-form .new-form-submit:hover {
  background: linear-gradient(45deg,#6b6c71, #cdcfd3);
  color: white;
}

.delete-rs-heading {
  color: #3d3f44;
  font-family: 'Nunito';
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(44, 49, 107, 0.2);
  font-size: 28px;
  padding-bottom: 15px;
}

.new-form .delete-rs-button {
  color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bolder;
  background: linear-gradient(45deg, #f11f1f, #ec5156);
  transition: background 0.3s ease;
  border: 1px solid #eb4747;
}

.new-form .delete-rs-button:hover {
  background: linear-gradient(45deg, #f11f1f, #ec5156);
  color: white;
}
