<div class="index-renting-space">
<h1>All Cities</h1>
  <div class="container">
    <div class="row">
      <div class="cards">
        <% @cities.each do |city| %>
          <div class="card" >
            <%= link_to city_path(city) do %>
              <%= cl_image_tag city.photo.key, class: "img-fluid", alt: city.name %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= city.name %></h5>
              <p class="card-text mb-1"></i> <%= city.description %></p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
