<h1>Cities Index Page</h1>
<% @cities.each do |city| %>
  <div class="cards">
    <a href="<%= city_path(city) %>">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581887469434-5dacb946ab56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cG9ydG98ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60)">
        <%= city.name %>
      </div>
    </a>
  </div>
<% end %>
