// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// map search seetings
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";
