<div class="container">
<h1>New Categories Page</h1>
<%= simple_form_for(@category, html: { class: "new-form" }) do |f|%>
  <%= f.input :name %>
  <%= f.button :submit, "Add category", class: "btn btn-primary w-100 new-form-submit"%>
<% end %>
</div>
